.content_container {
    padding: var(--corner-sizes);
    margin-top: 4%;
}

.content_container .brands_container {
    padding: 2% 0;
}

.content_container h2 {
    margin-bottom: 10px;
}

.content_container ul {
    display: grid;
    grid-gap: 10px;
}

.content_container ul li {
    margin-top: 20px;
}

.content_container ul li::before {
    content: '◉';
    margin-right: 10px;
}

.about_pictures {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 20px;
    grid-gap: 20px;
}

.about_item:first-child {
    grid-column: 1 / 3;
    height: 600px;
}

.about_item:nth-child(2) {
    grid-row: 2 / 4;
    height: 500px;
}

.about_item:last-child {
    height: 600px;
    grid-column: 1/ 3;
    background-position: bottom !important;
}

video {
    width: 100%;
    height: 200px;
}

.content_container .swiper-wrapper {
    display: flex !important;
    gap: 1rem !important;
}


@media screen and (max-width: 1024px) {
  .content_container {
    padding: var(--corner-sizes);
    margin-top: 5%;
  }

  .content_container ul {
    grid-gap: 8px;
  }

  .content_container ul li {
    margin-top: 15px;
  }

  .about_pictures {
    grid-template-columns: 1fr;
    margin-top: 15px;
    grid-gap: 15px;
  }

  .about_item:first-child {
    grid-column: auto;
    height: 400px;
  }

  .about_item:nth-child(2) {
    grid-row: auto;
    height: 350px;
  }

  .about_item:last-child {
    height: 400px;
    grid-column: auto;
  }

  video {
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .content_container {
    padding: var(--corner-sizes);
    margin-top: 6%;
  }

  .content_container ul {
    display: block;
  }

  .content_container ul li {
    margin-top: 10px;
  }

  .about_pictures {
    display: block;
  }

  .about_item {
    height: auto;
    margin-bottom: 15px;
  }

  video {
    height: 100%;
  }
}

@media screen and (max-width: 480px) {
  .content_container {
    padding: 10px;
    margin-top: 25%;
  }

  .content_container ul li {
    margin-top: 8px;
    font-size: 14px;
  }

  .about_pictures {
    display: block;
  }

  .about_item {
    height: auto;
    margin-bottom: 10px;
  }

  video {
    height: 100%;
  }
}